.pt-ctm-icon:before {background: #ffffff url("../../images/fcons_lang/b04b9a29_custom-favicon-spritesheet-pt.png?t=1661369352") }
.pt-ctm-icon0:before { background: url("../../images/fcons_lang/default_favicon.png?t=1661369352"); }
.pt-ctm-icon1405:before { background-position: -0px -0px; }
.pt-ctm-icon1469:before { background-position: -16px -0px; }
.pt-ctm-icon1494:before { background-position: -32px -0px; }
.pt-ctm-icon1691:before { background-position: -48px -0px; }
.pt-ctm-icon1742:before { background-position: -64px -0px; }
.pt-ctm-icon1838:before { background-position: -80px -0px; }
.pt-ctm-icon1904:before { background-position: -96px -0px; }
.pt-ctm-icon1917:before { background-position: -112px -0px; }
.pt-ctm-icon1927:before { background-position: -128px -0px; }
.pt-ctm-icon1932:before { background-position: -144px -0px; }
.pt-ctm-icon1995:before { background-position: -160px -0px; }
.pt-ctm-icon2351:before { background-position: -176px -0px; }
.pt-ctm-icon2380:before { background-position: -192px -0px; }
.pt-ctm-icon2409:before { background-position: -208px -0px; }
.pt-ctm-icon2410:before { background-position: -224px -0px; }
.pt-ctm-icon2419:before { background-position: -240px -0px; }
.pt-ctm-icon2424:before { background-position: -256px -0px; }
.pt-ctm-icon2772:before { background-position: -272px -0px; }
.pt-ctm-icon2888:before { background-position: -288px -0px; }
.pt-ctm-icon2889:before { background-position: -304px -0px; }
.pt-ctm-icon2892:before { background-position: -320px -0px; }
.pt-ctm-icon2911:before { background-position: -336px -0px; }
.pt-ctm-icon2912:before { background-position: -352px -0px; }
.pt-ctm-icon2918:before { background-position: -368px -0px; }
.pt-ctm-icon2928:before { background-position: -384px -0px; }
.pt-ctm-icon2929:before { background-position: -400px -0px; }
.pt-ctm-icon2931:before { background-position: -416px -0px; }
.pt-ctm-icon2932:before { background-position: -432px -0px; }
.pt-ctm-icon2933:before { background-position: -448px -0px; }
.pt-ctm-icon2934:before { background-position: -464px -0px; }
.pt-ctm-icon2937:before { background-position: -0px -16px; }
.pt-ctm-icon2938:before { background-position: -16px -16px; }
.pt-ctm-icon2941:before { background-position: -32px -16px; }
.pt-ctm-icon2945:before { background-position: -48px -16px; }
.pt-ctm-icon2946:before { background-position: -64px -16px; }
.pt-ctm-icon2947:before { background-position: -80px -16px; }
.pt-ctm-icon2948:before { background-position: -96px -16px; }
.pt-ctm-icon2949:before { background-position: -112px -16px; }
.pt-ctm-icon2950:before { background-position: -128px -16px; }
.pt-ctm-icon2951:before { background-position: -144px -16px; }
.pt-ctm-icon2952:before { background-position: -160px -16px; }
.pt-ctm-icon2953:before { background-position: -176px -16px; }
.pt-ctm-icon2954:before { background-position: -192px -16px; }
.pt-ctm-icon2955:before { background-position: -208px -16px; }
.pt-ctm-icon2956:before { background-position: -224px -16px; }
.pt-ctm-icon2957:before { background-position: -240px -16px; }
.pt-ctm-icon2960:before { background-position: -256px -16px; }
.pt-ctm-icon2961:before { background-position: -272px -16px; }
.pt-ctm-icon2963:before { background-position: -288px -16px; }
.pt-ctm-icon3031:before { background-position: -304px -16px; }
.pt-ctm-icon3066:before { background-position: -320px -16px; }
.pt-ctm-icon3106:before { background-position: -336px -16px; }
.pt-ctm-icon3199:before { background-position: -352px -16px; }
.pt-ctm-icon3254:before { background-position: -368px -16px; }
.pt-ctm-icon3255:before { background-position: -384px -16px; }
.pt-ctm-icon3256:before { background-position: -400px -16px; }
.pt-ctm-icon3257:before { background-position: -416px -16px; }
.pt-ctm-icon3258:before { background-position: -432px -16px; }
.pt-ctm-icon3261:before { background-position: -448px -16px; }
.pt-ctm-icon3262:before { background-position: -464px -16px; }
.pt-ctm-icon3264:before { background-position: -0px -32px; }
.pt-ctm-icon3365:before { background-position: -16px -32px; }
.pt-ctm-icon3483:before { background-position: -32px -32px; }
.pt-ctm-icon3528:before { background-position: -48px -32px; }
.pt-ctm-icon3647:before { background-position: -64px -32px; }
.pt-ctm-icon3663:before { background-position: -80px -32px; }
.pt-ctm-icon3788:before { background-position: -96px -32px; }
.pt-ctm-icon3859:before { background-position: -112px -32px; }
.pt-ctm-icon3976:before { background-position: -128px -32px; }
.pt-ctm-icon3986:before { background-position: -144px -32px; }
.pt-ctm-icon4012:before { background-position: -160px -32px; }
.pt-ctm-icon4335:before { background-position: -176px -32px; }
.pt-ctm-icon4401:before { background-position: -192px -32px; }
.pt-ctm-icon4402:before { background-position: -208px -32px; }
.pt-ctm-icon4403:before { background-position: -224px -32px; }
.pt-ctm-icon4407:before { background-position: -240px -32px; }
.pt-ctm-icon4409:before { background-position: -256px -32px; }
.pt-ctm-icon4410:before { background-position: -272px -32px; }
.pt-ctm-icon4411:before { background-position: -288px -32px; }
.pt-ctm-icon4415:before { background-position: -304px -32px; }
.pt-ctm-icon4434:before { background-position: -320px -32px; }
.pt-ctm-icon4459:before { background-position: -336px -32px; }
.pt-ctm-icon4518:before { background-position: -352px -32px; }
.pt-ctm-icon4561:before { background-position: -368px -32px; }
.pt-ctm-icon4645:before { background-position: -384px -32px; }
.pt-ctm-icon4670:before { background-position: -400px -32px; }
.pt-ctm-icon4688:before { background-position: -416px -32px; }
.pt-ctm-icon4693:before { background-position: -432px -32px; }
.pt-ctm-icon4695:before { background-position: -448px -32px; }
.pt-ctm-icon4696:before { background-position: -464px -32px; }
.pt-ctm-icon4697:before { background-position: -0px -48px; }
.pt-ctm-icon4700:before { background-position: -16px -48px; }
.pt-ctm-icon4703:before { background-position: -32px -48px; }
.pt-ctm-icon4705:before { background-position: -48px -48px; }
.pt-ctm-icon4706:before { background-position: -64px -48px; }
.pt-ctm-icon4747:before { background-position: -80px -48px; }
.pt-ctm-icon4749:before { background-position: -96px -48px; }
.pt-ctm-icon4938:before { background-position: -112px -48px; }
.pt-ctm-icon4958:before { background-position: -128px -48px; }
.pt-ctm-icon4969:before { background-position: -144px -48px; }
.pt-ctm-icon5036:before { background-position: -160px -48px; }
.pt-ctm-icon5039:before { background-position: -176px -48px; }
.pt-ctm-icon5040:before { background-position: -192px -48px; }
.pt-ctm-icon5041:before { background-position: -208px -48px; }
.pt-ctm-icon5042:before { background-position: -224px -48px; }
.pt-ctm-icon5045:before { background-position: -240px -48px; }
.pt-ctm-icon5047:before { background-position: -256px -48px; }
.pt-ctm-icon5048:before { background-position: -272px -48px; }
.pt-ctm-icon5050:before { background-position: -288px -48px; }
.pt-ctm-icon5051:before { background-position: -304px -48px; }
.pt-ctm-icon5052:before { background-position: -320px -48px; }
.pt-ctm-icon5055:before { background-position: -336px -48px; }
.pt-ctm-icon5056:before { background-position: -352px -48px; }
.pt-ctm-icon5058:before { background-position: -368px -48px; }
.pt-ctm-icon5059:before { background-position: -384px -48px; }
.pt-ctm-icon5067:before { background-position: -400px -48px; }
.pt-ctm-icon5069:before { background-position: -416px -48px; }
.pt-ctm-icon5080:before { background-position: -432px -48px; }
.pt-ctm-icon5081:before { background-position: -448px -48px; }
.pt-ctm-icon5083:before { background-position: -464px -48px; }
.pt-ctm-icon5086:before { background-position: -0px -64px; }
.pt-ctm-icon5157:before { background-position: -16px -64px; }
.pt-ctm-icon5158:before { background-position: -32px -64px; }
.pt-ctm-icon5188:before { background-position: -48px -64px; }
.pt-ctm-icon5191:before { background-position: -64px -64px; }
.pt-ctm-icon5196:before { background-position: -80px -64px; }
.pt-ctm-icon5239:before { background-position: -96px -64px; }
.pt-ctm-icon5363:before { background-position: -112px -64px; }
.pt-ctm-icon5372:before { background-position: -128px -64px; }
.pt-ctm-icon5373:before { background-position: -144px -64px; }
.pt-ctm-icon5379:before { background-position: -160px -64px; }
.pt-ctm-icon6048:before { background-position: -176px -64px; }
.pt-ctm-icon6070:before { background-position: -192px -64px; }
.pt-ctm-icon6242:before { background-position: -208px -64px; }
.pt-ctm-icon6384:before { background-position: -224px -64px; }
.pt-ctm-icon6632:before { background-position: -240px -64px; }
.pt-ctm-icon6980:before { background-position: -256px -64px; }
.pt-ctm-icon7211:before { background-position: -272px -64px; }
.pt-ctm-icon7269:before { background-position: -288px -64px; }
.pt-ctm-icon7284:before { background-position: -304px -64px; }
.pt-ctm-icon7398:before { background-position: -320px -64px; }
.pt-ctm-icon7465:before { background-position: -336px -64px; }
.pt-ctm-icon7517:before { background-position: -352px -64px; }
.pt-ctm-icon7577:before { background-position: -368px -64px; }
.pt-ctm-icon7622:before { background-position: -384px -64px; }
.pt-ctm-icon7879:before { background-position: -400px -64px; }
.pt-ctm-icon7886:before { background-position: -416px -64px; }
.pt-ctm-icon7999:before { background-position: -432px -64px; }
.pt-ctm-icon8095:before { background-position: -448px -64px; }
.pt-ctm-icon8952:before { background-position: -464px -64px; }
.pt-ctm-icon9091:before { background-position: -0px -80px; }
.pt-ctm-icon9100:before { background-position: -16px -80px; }
.pt-ctm-icon9144:before { background-position: -32px -80px; }
.pt-ctm-icon9210:before { background-position: -48px -80px; }
.pt-ctm-icon9237:before { background-position: -64px -80px; }
.pt-ctm-icon9575:before { background-position: -80px -80px; }